<tr>
    <td colspan="1">
        <a href="@url" target="_blank">@name</a>
    </td>
    <td colspan="3">
        <p>
            @paragraph
        </p>
    </td>
    <td colspan="1">
        <Badge badges="@badges"/>
    </td>
</tr>

@code {
    [Parameter]
    public string url { get; set; }

    [Parameter]
    public string name { get; set; }

    [Parameter]
    public string paragraph { get; set; }

    [Parameter]
    public string badges { get; set; }

}