@page "/"

<div class="container">
    <img src="images/callum.jpg" class="img-fluid mx-auto d-block" style="width:75%; height: auto" />
    <br />
    <section class="bg-white border-bottom box-shadow mb-3">
        <h1>About Me</h1>
    </section>
    <p class="text-center" style=" margin: 12px 12px 12px 12px; padding: 12px 12px 12px 12px;">
        I am a diligent and dedicated engineering student in my second professional year graduating in 2022,
        studying towards a Bachelor of Engineering with Honors Majoring in Software Engineering
        (BE(Hons)) at the University of Canterbury. I have an extremely strong passion for computer programming,
        computer science, and problem solving in general.
    </p>
</div>
<div class="middle">
    <Portfolio />
</div>

