@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>


<div class="container">
    <main role="main" class="pb-3 pageContentWrapper">
        @Body
    </main>
</div>

<div class="footer">
    <div class="container-fluid text-center text-md-left">
        <h5 class="text-uppercase">Footer</h5>
        <p>Some random text I guess</p>
    </div>
</div>