<div class="container">
    <section class="bg-white border-bottom box-shadow mb-3">
        <h1>Portfolio</h1>
    </section>

    <div id="popupModal" class="modal" style="@modalStyle">
        <span class="close" @onclick="@CloseModal">&times;</span>
        <img src="@imageSource" class="modal-content" id="modalImage" />
        <div id="hiddenCaption">@modalContent</div>
    </div>

    <div class="container">
        <div>
            <table class="table" cellspacing="100">
                <thead class="table-dark">
                    <tr>
                        <th class="h2">Project</th>
                        <th class="h2">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <a href="https://github.com/CallumMcLoughlin/CallumMcLoughlin.github.io" target="_blank">ASP.NET/Blazor Website</a>
                        </td>
                        <td>
                            <p>
                                This website was built specifically to showcase my skills and knowledge across a broad range of frameworks and languages.
                                Written in C# with ASP.NET, more specifically Blazor.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://github.com/CallumMcLoughlin/MazeSearcher" target="_blank">MazeSearcher</a>
                        </td>
                        <td>
                            <p>
                                A program written in Java, using JavaFX with BootstrapFX. This program is intended to be used to visualize how different
                                searching algorithms search different user drawn mazes from a start node to a goal node.
                                This program was written with MVC design principals and uses Maven for the build process
                                alongside JUnit for automated unit testing.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://github.com/CallumMcLoughlin/ProcessReader" target="_blank">ProcessReader</a>
                        </td>
                        <td>
                            <p>A simple C# Program to read another processes' memory, uses generics to read any specified type of memory from an address.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://github.com/CallumMcLoughlin/KingdomsSim" target="_blank">KingdomsSim</a>
                        </td>
                        <td>
                            <p>
                                This project was written in C# using the Monogame framework which is continuation of the XNA framework. The main goal was to
                                simulate 'kingdoms' where each pixel is a unit, and each colour is a kingdom, which can attack any colour that is not it's own.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <table class="table" cellspacing="100">
            <thead class="table-dark">
                <tr>
                    <th colspan="2" class="h2">Screenshots</th>
                </tr>
            </thead>
        </table>
        <div class="row align-items-">
            <div class="col">
                <ClickableImage OnClick="ModalHandler" imageTitle="Unity Mobile App" imageSource="images/2020P1.png" hiddenParagraph="paragraphs/2020P1.txt" />
                <ClickableImage OnClick="ModalHandler" imageTitle="Procedural Generation with Parallax" imageSource="images/2018P2.gif" hiddenParagraph="Hello world!" />
                <ClickableImage OnClick="ModalHandler" imageTitle="KingdomsSim Simulation of Territory" imageSource="images/2018P3.gif" hiddenParagraph="Hello world!" />
            </div>
            <div class="col">
                <ClickableImage OnClick="ModalHandler" imageTitle="JavaFX with BootstrapFX Maze Searcher" imageSource="images/2020P2.png" hiddenParagraph="paragraphs/2020P2.txt" sourceLink="https://github.com/CallumMcLoughlin/MazeSearcher" linkText="Github Page for Project" />
                <ClickableImage OnClick="ModalHandler" imageTitle="Perlin Noise Procedural Generation of Terrain" imageSource="images/2018P1.png" hiddenParagraph="Hello world!" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ClickableImage OnClick="ModalHandler" imageTitle="ChalkRoll" imageSource="images/2019P1.png" hiddenParagraph="paragraphs/2019P1" sourceLink="https://play.google.com/store/apps/details?id=com.Callum_M.ChalkRoll" linkText="Get from Google Play Store" />
            </div>
        </div>
    </div>
</div>

@code {
    private string imageSource;
    private string modalContent;
    private string modalStyle = "display: hidden";

    private void ModalHandler(Tuple<String, String> clickedResource)
    {
        imageSource = clickedResource.Item1;
        modalContent = clickedResource.Item2;
        ShowModal();
    }

    private void CloseModal()
    {
        modalStyle = "display: none";
    }

    private void ShowModal()
    {
        modalStyle = "display: block";
    }
}